sqlite-trace.log

/java
/node
/perl
/python
/ruby
/rust

docker-compose-java.yml
docker-compose-node.yml
docker-compose-perl.yml
docker-compose-python.yml
docker-compose-ruby.yml
docker-compose-rust.yml

local.sh
/logs/*
!/logs/.keep

/.vscode-server
